html{
    box-sizing: border-box;
    height: 100%;
}
.body1{
    background-image: url(&quot;falls.jpg&quot;);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: white;
    height: 100%;
}
.body2{
    background-image: url(&quot;city.jpg&quot;);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.body3{
    background-image: url(&quot;bundok.jpg&quot;);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
li, a{
    font-weight: 500;
    font-size:  20px;
    color: white;
    text-decoration: none;
    font-family: &quot;Noir&quot;;
    src: url(&quot;Regular 800.otf&quot;);
}
header{
background-color:#015668;
font-weight:bold;
overflow: hidden;
top:0;
right:0;
left:0;
position:fixed;
justify-content: space-evenly;
display: flex;
align-items: center;
}
footer{
background-color:#015668;
font-weight:bold;
overflow: hidden;
bottom:0;
right:0;
left:0;
position:fixed;
justify-content: space-evenly;
display: flex;
align-items: center;
}
.foot{
margin-left:10%;
    margin-right:auto;
    font-family: &quot;Odachi&quot;;
    font-size: 25px;
}
.logo{
margin-left:10%;
    margin-right:auto;
    cursor: pointer;
    font-family: &quot;Odachi&quot;;
    font-size: 30px;
}
.nav_link{
    list-style: none;
}
.nav_link li{
    display: inline-block;
    padding: 0px 50px;
}
.nav_link li a:hover {
    color: black;
}
.nav_link li a{
    transition:  all 0.3s ease 0s;
}
.intro1{
    text-align: center;
    font-size: 30px;
    color: white;
}
.text1{
    text-decoration: none;
    font-family: &quot;Noir&quot;;
    src: url(&quot;Medium 500.otf&quot;);
    padding: 50px;
    text-shadow: 2px 2px black;
}
.text2{
    font-family: &quot;Noir&quot;;
    text-shadow: 2px 2px black;
}
.butones{
    width: auto;
    padding: 10px 18px;
    background-color:  #015668;
    font-size: 20px;
    cursor: pointer;
    color: white;
border-radius:5px;
}
button:hover{
    background-color: black;
}
.intro2{
    text-align: left;
    font-size: 30px;
    padding: 200px 4%;
    margin: auto;
    color: #ffd369;
}
.text3{
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-decoration: underline;
}
.text4{
    text-shadow: 2px 2px black;
}
.box{
    width: 300px;
    text-align: center;
    background: rgba(2, 54, 133);
    background: rgba(2, 54, 133, 0.411);
    padding: 20px;
    margin: 8% auto 0;
    font-size: 16px;
    color: #ffd369;
}
input[type=text]{
    width: 80%;
    padding: 5px 5%;
    display: inline-block;
    border: 1px solid #cccccc;
}
.intro3{
    text-align: center;
    background-image: url(&quot;cloud.jpg&quot;);
    background-size: cover;
    padding: 10px;
    font-family: &quot;Noir&quot;;
    src: url(&quot;Medium 500.otf&quot;);
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.text5{
    text-shadow: 1px 1px black;
}
.text6{
    text-shadow:2px 2px black;
}
.box1{
    width: 300px;
    text-align: justify;
    background: rgba(52, 15, 185, 0.1);
    box-shadow: 5px 10px;
    padding: 20px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    left: 5%;
    position: absolute;
}
.open1{
    text-align: center;
}
.box2{
    width: 300px;
    text-align: justify;
    background: rgba(52, 15, 185, 0.1);
    box-shadow: 5px 10px;
    padding: 20px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    left: 40%;
    position: absolute;
}
.box3{
    width: 300px;
    text-align: justify;
    background: rgba(52, 15, 185, 0.1);
    box-shadow: 5px 10px;
    padding: 20px;
    margin: 1% auto 0;
    font-size: 16px;
    color: black;
    right: 5%;
    position: absolute;
}
.contactp{
    font-size: 18px;
    text-shadow: 1px 1px black;
}
@font-face{
    font-family:"una";
    src: url("Odachi 400.otf");
}
@font-face{
    font-family:"ngalawa";
    src: url("NoirPro-Bold.ttf");
}@font-face{
    font-family:"tatlo";
    src: url("NoirStd-Regular.ttf");
}
